<div class="footer">
    <div class="footer__links">
        <img src="../../../assets/img/DLUXE-_RENTAL-CARS.png" alt="logo">
        <a routerLink="/">Inicio</a>
        <a routerLink="/lamborghini">Lamborghini</a>
        <a routerLink="/ferrari">Ferrari</a>
        <a routerLink="/contact">Contacto</a>
    </div>

    <div class="footer__social">
        <div class="footer__social--img">
            <a href="https://www.linkedin.com/in/javier-azagra-garc%C3%ADa/"><img src="../../../assets/img/linkedin.svg" alt=""></a>
            <a href="https://github.com/JaviiAzagra" target="_blank"><img src="../../../assets/img/icons8-github-30.svg" alt=""></a>
            <a href="https://instagram.com/12jav1" target="_blank"><img src="../../../assets/img/instagram.svg" alt=""></a>
            <a href="https://twitter.com/JaviAzagra_" target="_blank"><img src="../../../assets/img/twitter.svg" alt=""></a>
        </div>
        <div class='footer__social--legal'>
            <a>Aviso legal</a>
            <a>Protección de datos</a>
            <a>Cookies</a>
            <p>Powered by <span>JaviiAzagra</span></p>
            <p>© 2022 Javier Azagra</p>
        </div>
    
    </div>

    <div class="footer__contact">
        <p>Calle Arturo Soria</p>
        <p>Madrid</p>
        <p>España</p>
        <p>+34 659 765 285</p>
        <p>contact@luxurycars.com</p>
    </div>
</div>
