.footer{
    color: white;
    border-top: solid 1px #dcb05e;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .footer{
        max-width: 400px;
    }
}
