.nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
  list-style: none;
}

a {
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: underline;
  color: #dcb05e;
}

nav {
  background-color: rgb(0, 0, 0);
}

.logo-img{
  width: 100px;
}