
.nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
/*   padding-right: 40px;
  padding-left: 40px; */
  align-items: center;
  gap: 300px;
  border-bottom: solid 1px #e2b123;

  &__logo img{
    width: 200px;
  }

  &__menu{
    display: flex;
    justify-content: center;
    gap: 50px;

    a{
      text-decoration: none;
      color: white;
    }
    a:hover{
      text-decoration: underline;
      color: #e2b123;
    }
  }
}

@media screen and (max-width: 400px) { 
  .nav{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
    &__menu{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}