<div class="contact">
    <h2>Alquilar, comprar o vender</h2>
    <p>Ponte en contacto con nosotros para más información sobre nuestros vehículos, bonos promocionales o cualquier sugerencia.</p>
    <p>Dinos que vehículo necesitas y donde y te lo conseguimos.</p>

    <form class="form">
        <label>
            <input type="text" placeholder="Nombre">
        </label>
        <label>
            <input type="email" placeholder="Email">
        </label>
        <label>
            <input type="text" placeholder="Teléfono">
        </label>
        <label>
            <input class="message" type="text" placeholder="Escriba aqui su consulta">
        </label>
        <div>
            <button>Enviar consulta</button>
        </div>
    </form>
</div>
