.update-form{
    color: white;
    border-top: 1px solid #dcb05e;
    text-align: center;
}   

select{
    color: white;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 16px;
    border: 1px solid #dcb05e;
}
input{
    color: white;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 16px;
    border: 1px solid #dcb05e;
}

button{
    color: white;
    border: 1px solid #dcb05e;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 16px;
    border: 1px solid #dcb05e;  
}

.boton{
    padding-top: 20px;
}

.file{
    border: #dcb05e 0px solid;
    width: 300px;
    border-radius: 0px;
}