<div class="lambo"></div>

<h1 class="title-lambo">Lamborghini</h1>
<div class="container">
    
<img
  *ngIf="!myLamborghinis"   
  width="200px"
  src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/02b374101705095.5f24d5db1096f.gif"
  alt="gif loading"
/>
<h1 *ngIf="!myLamborghinis">Cargando todos los coches...</h1>
<div routerLink="/lamborghini/{{item._id}}" class="lambo-card" *ngFor= "let item of myLamborghinis" >
    <div class="title-container">
        <h2 class="model">{{item.model}}</h2>
        <p>{{item.name}}</p>
    </div>
    <div class="img-container">
        <img class="lambo-card-img" src="{{item.img}}" alt="{{item.name}}">
    </div>
    <!-- <button class="button" routerLink="/lamborghini/{{item._id}}">Mas detalles</button> -->
</div>
</div>

