.container{
    background-color: black;
    color: white;
}

@media screen and (max-width: 400px) { 
    .videos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video-iframe{
        width: 300px;
        height: 200px;
    }
    .title{
        font-size: 10px;
    }
  }
.title-lambo{
    color: white;
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #dcb05e;
}

.boton-arriba{
    padding: 20px;
}

.button-lambo {
    color: white;
    border-radius: 16px;
    width: 100px;
    height: 40px;
    border: 2px solid #dcb05e;
}

.lambo-box{
    padding-top: 50px;
}