<div class="home">
    <div class="container-video">
        <video class="video-home" loop autoplay [muted]="true" style="width: 90%; padding: 20px; height: auto; background: #000000">
            <source src="../../../assets/videos/video.mp4" type="video/mp4">
        </video>
    </div>
<div class="container-home">
    <h1>Bienvenido a Deluxe Cars</h1>
    <p>Disfruta del coche plenamente conduciéndolo tú mismo, o bien, si prefieres una total comodidad, otra opción es contar con un experto chófer que se hará cargo de 
        todos los trayectos así como del aparcamiento, sin tener que preocuparte más que de disfrutar del paseo.</p>
    <p>Las tarifas varían según el modelo y tiempo de alquiler. Consulta a continuación nuestros catálogos por marcas para ver en detalle cada modelo y decide cuál es tu preferido.
        Si no encuentras lo que buscas, ponte en contacto con nosotros y haremos todo lo posible por conseguirlo.</p>
    <img src="https://tork.news/__export/1645660015165/sites/tork/img/2022/02/23/ferrari-vs-lamborghini-feature-image-1_2.jpg_1832102428.jpg" alt="lamboferrari">
</div>   
    <div class="videos">
        <iframe class="video-iframe" src="https://www.youtube.com/embed/Lf38WKdhTyo?rel=0&controls=0&showinfo=0&autoplay=0" allow="autoplay; encrypted-media"></iframe>
        <iframe class="video-iframe" src="https://www.youtube.com/embed/lQg4IcR6eoQ" allow="autoplay; encrypted-media"></iframe>
    </div>
</div>
