<div class="home">
    <h1>Bienvenido a Luxury Cars</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum laudantium libero, beatae inventore sit adipisci, dicta corrupti rerum quisquam itaque architecto magnam neque, modi voluptatum odit asperiores. Aut, reiciendis ad.
    Sapiente, sed optio laboriosam, itaque temporibus perferendis iure aliquid doloremque voluptatibus deserunt distinctio ut mollitia facilis dolorem rem voluptatum hic. Quae, repellendus libero rerum aliquid veritatis consequatur pariatur. Enim, sint.
    Vero neque quisquam quam tempora necessitatibus mollitia autem iure, cumque tempore harum. Natus doloribus, deleniti, ea quam iusto quos laboriosam eius ad dolorem, est voluptatum temporibus distinctio ut corporis hic.
    Odio numquam deserunt, accusamus id eveniet earum odit, quae pariatur explicabo, quam a. Et illo aspernatur sunt vitae labore harum voluptate beatae aliquam, accusantium deserunt voluptatem amet maiores explicabo odit!
    Obcaecati, odio voluptatum laudantium nobis sunt nulla omnis eius ea ab culpa blanditiis minus vel voluptas, eaque dolor, sint eligendi delectus modi est porro rerum accusantium! Corrupti unde ducimus autem?</p>

    <img src="https://tork.news/__export/1645660015165/sites/tork/img/2022/02/23/ferrari-vs-lamborghini-feature-image-1_2.jpg_1832102428.jpg" alt="lamboferrari">
</div>
