<div class="home">
  <div class="home__video">
    <video class="video-home" loop autoplay [muted]="true">
      <source src="../../../assets/videos/video.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="home__info">
    <h1>Bienvenido a Deluxe Cars</h1>
    <div class="home__info--text">
      <p>
        Disfruta del coche plenamente conduciéndolo tú mismo, o bien, si
        prefieres una total comodidad, otra opción es contar con un experto
        chófer que se hará cargo de todos los trayectos así como del
        aparcamiento, sin tener que preocuparte más que de disfrutar del paseo.
      </p>
      <p>
        Las tarifas varían según el modelo y tiempo de alquiler. Consulta a
        continuación nuestros catálogos por marcas para ver en detalle cada
        modelo y decide cuál es tu preferido. Si no encuentras lo que buscas,
        ponte en contacto con nosotros y haremos todo lo posible por
        conseguirlo.
      </p>
    </div>
    <div class="home__info--img">
      <div class="home__info--img--car">
        <img
          routerLink="/lamborghini"
          src="../../../assets/img/lamborghini_huracan.jpeg"
          alt="lambo"
        />
        <p>Lamborghini Huracan</p>
      </div>
      <div class="home__info--img--car">
        <img
          routerLink="/ferrari"
          src="../../../assets/img/ferrari.png"
          alt="ferrari"
        />
        <p>Ferrari F8 Spider</p>
      </div>
    </div>
  </div>
  <div class="home__youtube">
    <h1>Mira nuestro videos:</h1>
    <div class="home__youtube--iframe">
      <iframe
        class="video-iframe"
        src="https://www.youtube.com/embed/Lf38WKdhTyo?rel=0&controls=0&showinfo=0&autoplay=0"
        allow="autoplay; encrypted-media"
      ></iframe>
      <iframe
        class="video-iframe"
        src="https://www.youtube.com/embed/lQg4IcR6eoQ"
        allow="autoplay; encrypted-media"
      ></iframe>
    </div>
  </div>
</div>
