<form class="update-form" [formGroup]="ferrariForm" (ngSubmit)="onSubmitFerrari()" >
    <h1>Editar Ferrari</h1>
    <p>Model:</p>
    <select formControlName="model">
        <option>Roma</option>
        <option>296</option>
        <option>sf90</option>
        <option>F8</option>
        <option>Portofino</option>
        <option>812</option>
        <option>limited series</option>
    </select>
    <p>Name:</p>
    <input type="text" formControlName="name"/>
    <p>Price:</p>
    <input type="text" formControlName="price"/>
    <p>Power (CV):</p>
    <input type="text" formControlName="power_cv"/>
    <p>Max Speed:</p>
    <input type="text" formControlName="max_speed"/>
    <p>Imagen:</p>
    <input class="file" type="file" formControlName="img" (change)="onFileChange($event)"/>
    <div class="boton">
      <button>Add</button>
    </div>
  </form>
