.container{
    background-color: black;
    color: white;
    
}

.title-ferrari{
    color: white;
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #dcb05e;
}

.ferrari-box{
    padding-top: 50px;
}