/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

$font_family: "Karla";

* {
  font-family: $font_family;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 40px;
}

.model {
  text-transform: capitalize;
}

.lambo-card {
  text-align: center;
  width: 350px;
  height: 250px;
  margin: 30px;
  border-bottom: solid 2px #dcb05e;
  color: rgb(255, 255, 255);
  transition: transform 0.2s;
}

.lambo-card:hover{
  transform: scale(1.2);
}

.lambo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.lambo-card h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.img-container img {
  width: 340px;
  height: 170px;
}

/* .lambo-card:hover {
  border-radius: 16px;
  box-shadow: 0 0px 15px 4px #dcb05e;
} */

.button {
  background-color: white;
  font-size: 15px;
  border: none;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  font-size: 60px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.search {
  text-align: center;

}

.line{
  padding: 20px;
  border-bottom: solid 2px rgb(161, 161, 161);
}

.search-cars {
  border-radius: 16px;
  border: solid 1px rgb(176, 176, 176);
  height: 40px;
  width: 200px;
}

input::placeholder{
  text-align: center;
  font-size: 16px;
}

.lambo {
  background-image: url("https://www.novitecgroup.com/assets/images/news/lamborghini/huracan-sto/header-lambo__FocusFillWzE5MjAsNjAwLGZhbHNlLDBd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
.ferrari {
  background-image: url("https://i.pinimg.com/originals/dc/33/30/dc333035890070e77335d94a4cff12c3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
}

.lambo h1 {
  color: white;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -webkit-text-stroke: 2px black;
}

.ferrari h1 {
  color: white;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -webkit-text-stroke: 2px black;
}

@media screen and (max-width: 400px) { 
  .videos{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .video-iframe{
      width: 300px;
      height: 200px;
  }
  .title{
      font-size: 10px;
  }
}
