
.detail-container{
    text-align: center;
    background-color: black;
    color: white;
    border-top: 1px solid #dcb05e;
    padding-top: 20px;
    padding-bottom: 50px;
}

.details p{
    padding: 10px;
}

.details span{
    font-weight: bold;
    color: #dcb05e;
    font-size: 18px;
    padding-left: 10px;
}

.btn-details{
    border: 1px solid #dcb05e;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 15px;
    border-radius: 20px;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 40px;
}

.btn-details:hover{
    background-color: #dcb05e;
    color: black;
}

.img-details{
    width: 40%;
}

@media screen and (max-width: 400px) { 
    .img-details{
        width: 300px;
    }

    .btn-container{
        display: flex;
        flex-direction: column;
        align-items: center;

        button{
            width: 200px;
        }
    }
}