<div class="detail-container">
    <h1 class="model">{{myFerrari?.model}}</h1>
    <p>{{myFerrari?.name}}</p>
    <img class="img-details" src="{{myFerrari?.img}}" alt="{{myFerrari?.name}}">
    <div class="details">
    <p>Precio: {{myFerrari?.price}} €</p>
    <p>Caballos de Potencia: {{myFerrari?.power_cv}} CV</p>
    <p>Velocidad Máxima: {{myFerrari?.max_speed}}</p>
    <div class="btn-container">
        <button class="btn-details" routerLink="/lamborghini">Volver a todos los coches</button>
        <button class="btn-details" routerLink="/updateFerrari/{{myFerrari?._id}}">Update</button>
        <button class="btn-details" (click)="deleteFerrari()">Delete</button>
    </div>
    
</div>
</div>
